.clients{
  background-color: #f3f6f6;
}

.clients-title{
  font-family: 'Teko', sans-serif;
  font-size: 60px;
  margin-top: 3vw;
}

.client-text{
  font-family: Arial;
  font-size: 17px;
}

.logos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3vw;
  margin-left: 10%;
}

.clientsMobile{
  display: none;
}


@media only screen and (max-width: 600px) {
  .clientsDesktop{
    display: none;
  }

  .clientsMobile{
    display: initial;
  }

  .logos{
    margin-left: 16%;
    margin-bottom: 10vw;
    margin-top: 5vw;
  }

  .client-text{
    font-family: Arial;
    font-size: 17px;
    text-align: center;
  }
}