.topcase {
  margin: 1.5%;
  width: 47%;
}

.card {
  text-align: left;
}

.card-title {
  font-family: Arial;
  color: #939393;
  font-size: 15px;
}

.card-text {
  color: #272727;
  font-size: 30px;
  font-family: "Teko", sans-serif;
}

.link {
  color: #1a18f7;
  font-family: Arial;
  font-size: 14px;
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

.casemobile {
  display: none;
}

/* mobile styling */

@media only screen and (max-width: 600px) {
  .casedesktop {
    display: none;
  }

  .casemobile {
    display: initial;
  }

  .topcase {
    margin: 0;
    width: auto;
  }

  .card {
    margin: none;
    text-align: left;
  }
}
