.mainContent{
  margin: 0.5vw 4vw;
  display: flex;
  flex-wrap: wrap;
}
.home{
  background-color: black;
  height: 200vh;
}

.homeMenu{
  width:75%;
}

@media only screen and (max-width: 600px) {
  .homeMenu{
    width:90%;
  }
  .home{
    background-color: black;
    height: 110vh;
  }

}