.navbar {
  border-bottom: 1px solid black;
  margin: 0.5vw 4vw;
}

.navbar-toggler{
  color: black;
}

.content{
  position:relative;
  height: 100%;
}

.title{
  font-size: 10vw;
  margin-left: 4vw;
  float: left;
}

.hd{
  position: absolute;
  bottom:10vw;
  right:10vw
}

.case{
  margin-right: 4vw;
}

.header{
  height: 100vh;
  background-image: url("/images/florensis.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .header{
    height: 50vh
  }
}
