.navbar {
  border-bottom: 1px solid black;
  margin: 0 4vw;
}

.content {
  position: relative;
  height: 100%;
}

.menu{
  margin: 0;
  font-family:  "Teko", sans-serif;
}

.navbar-brand{
font-family:  "Teko", sans-serif;
padding: none;
margin-bottom: -10px;
}

.navbar-toggler{
  border: none;
  outline: none;
}

.title {
  font-size: 25vw;
  margin-left: 4vw;
  float: left;
  font-family:  "Teko", sans-serif;
}

.hd {
  color: white;
  background-color: black;
  padding: 0.7em 2em;
  font-family: Arial;
  font-size: 15px;
  border: none;
  position: absolute;
  bottom: 10vw;
  right: 10vw;
}

.case {
  margin-right: 4vw;
}

.nav-link {
  text-align: end;
  color: black;
  font-family:  "Teko", sans-serif;
}

.header {
  height: 100vh;
  background-image: url("/images/header2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headermobile {
  display: none;
}

.linkbtn {
  text-decoration: none;
  color: white;
  font-family: Arial;
  font-size: 15px;
}

/* mobile styling */

@media only screen and (max-width: 600px) {
  .header{
    display: none;
  }

  .headermobile {
    display: initial;
  }

  .title{
    font-size: 50vw;
    text-align: center;
    margin-top: 10%;
    margin-left: -5px;
  }

  .content{
    height: 50vh;
    background-image: url("/images/florensis.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 -20px 10% -20px;
  }

  .navbar {
    border-bottom: none;
  }


}


.hdmobile {
  color: white;
  background-color: black;
  padding: 1em 2em;
  font-family: Arial;
  font-size: 15px;
  border: none;
  width: 90vw;
}
