.logoHome{
  font-family: "Teko", sans-serif;
  font-size: 40px;
  color: white;
  padding: 3vw 10vw;
  padding-bottom: 0;
}


.mobilesearchbar{
  display: none;
}

/* mobile styling */

@media only screen and (max-width: 600px) {
.searchbar{
  display: none;
}

.mobilesearchbar{
  display: initial;
}


}