
.Nav-item {
  list-style: none;
  font-family: "Teko", sans-serif;
  font-size: 1.5vw;
  color: white;
}

.PrimaryNav{
  margin-left: 6vw;
}

.Nav-item:hover{

  font-size: 4vw;
}

.Nav-item:active{
  font-size: 4vw;
}

.mobilesearchbar{
  display: none;
}



/* mobile styling */

@media only screen and (max-width: 600px) {
.searchbar{
  display: none;
}

.mobilesearchbar{
  display: initial;
}


}