.logoHome{
  font-family: "Teko", sans-serif;
  font-size: 40px;
  color: white;
  padding: 3vw 10vw;
  padding-bottom: 0;
}

.closeBtn:focus,.closeBtn:active {
    outline: none !important;
    box-shadow: none;
 }


.mobilesearchbar{
  display: none;
}

.close{
  font-size: 60px;
  font-family: "Teko", sans-serif;
  padding: 3vw 10vw;
  text-decoration: none;
}

.close:active:hover{
  text-decoration: none;
}

/* mobile styling */

@media only screen and (max-width: 600px) {
.searchbar{
  display: none;
}

.mobilesearchbar{
  display: initial;
}


}