
.search{
  font-family: "Teko", sans-serif;
  font-size: 30px;
  color: #a3a3a3;
}

.select{
  border: none;
  background: none;
  color: black;
  padding: none;
}

.mobilesearchbar{
  display: none;
}

/* mobile styling */

@media only screen and (max-width: 780px) {
.searchbar{
  display: none;
}

.mobilesearchbar{
  display: initial;
}


}